<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stytlesheet" herf="/assets/css/bootstrap.min.css">
    
    <script src="/assets/js/bootstrap.min.js"></script>

</head>
<body>
    <div class=""
    <div class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
      </div>
</body>
</html>